.popup-container{
    position: fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:#1c1c1c76;
    padding-top:15%;
}
.popup-body{
    width:70%;
    height:70%;
    background-color:#fff;
    margin:auto;
}
.popup-header{
    position: relative;
    left:8vh;
    padding:20px;
}